body{ 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    color: black;
    background-color: white;
    opacity:0.9;
    text-align:center;
    overflow-x: hidden;
    margin:0;
}

.header{
    display: block;
    width:100%;
    background-color:#003858;
    color:white;
    position:fixed;
}

.name{
    float: left;
    padding: 10px;
    margin: 10px;
    justify-content: center;
    font-size: 1.2rem;
    Font-Family: 'Roboto', Sans-Serif;
}

.name a{
    color: white;
    text-decoration: none;
}

.nav{
    display:inline-flex;
    list-style: none;
    text-decoration-line: none;
    position: relative;
    left: 50px;
}

.header li a{
    text-decoration: none;
    padding: 25px;
    font-size: 0.9rem;
    color: white;
    Font-Family: 'Lora', Serif;
}

.header li :hover{
    background-color: seashell;
    color: black;
}

.banner-container{
    background-color: white;
    height: 350px;
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
}

.text-over{
    text-align: center;
    padding-top: 75px;
    Font-Family: 'Roboto', Sans-Serif;
}

.text-over h5{
    font-size: 20px;
}

.text-over p{
    font-size: 14px;
    font-family:'Times New Roman', Times, serif;
    text-decoration: none;
    Font-Family: 'Lora', Serif;
}

.text-over h1{
    color: #003858;
}

.button{
    margin: 10px;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: lightslategray;
    color: white;
    font-family:'Times New Roman', Times, serif;
    border-radius: 20px;
    border: none;
    font-size: 1.25rem;
    display: none;
}

.button:hover{
    background-color: seashell;
    border: 1px lightslategray solid;
    color:black;
    cursor: pointer;
}

.site-image{
    display: center;
    height: 500px;

}

.about-container{
    padding-bottom: 25px;
    padding-left: 200px;
    padding-right: 200px;
    height: 100%;
}

.about-text p{
    color: black;
    font-size: 16px;
    line-height: 2rem;
    Font-Family: 'Lora', Serif;
}

.about-text h2{
    color: #003858;
    padding-top: 25px;
    Font-Family: 'Roboto', Sans-Serif;
}

.services-container{
    padding-bottom: 25px;
    padding-left: 200px;
    padding-right: 200px;
    height: 100%;
    display: inline-flex;
    position: center;
}

.services-text h2{
    color: #003858;
    padding-top: 25px;
    Font-Family: 'Roboto', Sans-Serif;
}
.services-text h3{
    color: black;
    font-size: 20px;
    line-height: 2rem;
    Font-Family: 'Lora', Serif;
}

.services-text p{
    color: black;
    font-size: 16px;
    line-height: 2rem;
    Font-Family: 'Lora', Serif;
}

.review-text-top{
    margin-top: 60px;
}

.review-container{
    max-width: 1500px;
    display: inline-flex;
    justify-content:space-around;
    background-color: seashell;
}

.review{
    height: 100%;
    padding: 20px;
    flex-basis:30%;
    box-sizing: border-box;
    align-content: center;
    justify-content: center;
    Font-Family: 'Lora', Serif;
}

.review-text-top h2{
    color: #003858;
    Font-Family: 'Roboto', Sans-Serif;
}

.review p{
    font-size: 16px;
    padding-left:20px;
    padding-right:20px;
    Font-Family: 'Lora', Serif;
    line-height: 1.4rem;
}

.star{
    color: goldenrod;
}

.gallery-text-top h2{
    color:#003858;
    padding-top: 30px;
    Font-Family: 'Roboto', Sans-Serif;
}

.gallery-container {
    display: inline-flex;
    max-width: 1500px;
    height: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.gallery img{
    height: 250px;
    width: 300px;
    justify-content:space-between;
    margin: 15px;

}

.contact-container{
    width: 100%;
    display: inline-flex;
    justify-content:space-around;
    background-color: seashell;
    border-top: 1px rosybrown solid;
    margin-top: 50px;
    padding: 20px;
    padding-bottom: 20px;
}

.info{
    height: 100%;
    padding: 20px;
    flex-basis:30%;
    box-sizing: border-box;
    align-content: center;
    justify-content: center;
}

.contact-text-top h2{
    color: slategray;
    Font-Family: 'Roboto', Sans-Serif;
}

.info p{
    font-size: 16px;
    padding-left:20px;
    padding-right:20px;
    text-align: left;
    Font-Family: 'Lora', Serif;
}

.info h4{
    font-size: 20px;
    padding-left:20px;
    padding-right:20px;
    text-align: left;
    Font-Family: 'Roboto', Sans-Serif;
    color:#003858;
}

.copyright{
    font-size: 10px;
    background-color:seashell;
    width:100%;
    float:left;
    text-align:center;
    Font-Family: 'Roboto', Sans-Serif;
}


@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

    .body{
        overflow-x: hidden;
    }
    
    .name a{
        display: none;
    }

    .header{
        width: 1500px;
        text-align: center;
        background-color:#003858;
        z-index: 1;
        margin: 0;
        display: block;
        position: sticky;
        top: 0;
    }
    
    .nav li a{
        width: 100%; 
        float: none;
        font-size: 70px;
        position: relative;
        right: 80px;
        justify-content: space-between;
    }

    .header li :hover{
        background-color: seashell;
        color: black;
        opacity: 100%;
    }
    
    h1{
        font-size:150px;
        padding-top: 80px;
        position: relative;
        right: 45px;
        z-index: 0;
    }
    .site-image{
        width: 1200px;
        height: 800px;
        display: block;
        margin: 20px;
        position: relative;
        left: 150px;
        top: 1300px;
        padding-bottom: 500px;
        z-index:-1;
    }

    .text-over h5{
        font-size: 80px;
        padding-left: 0;
        padding-right: 0;
        position: relative;
        right: 30px;
        z-index:-1;
    }

    .text-over p{
        font-size: 80px;
        padding-left: 0;
        padding-right: 0;
        position: relative;
        right: 30px;
        z-index:-1;
    }

    .about-text h2{
        font-size: 100px;
        position: relative;
        right: 7px;
        z-index:-1;
    }

    .about-text p{
        font-size: 70px;
        line-height: 100px;
        width: 1200px;
        position: relative;
        left: 105px;
        z-index:-1;
        text-align: center;
    }



    .services-text h2{
        font-size: 100px;
        position: relative;
        right: 55px;
        z-index:-1;
    }

   .services-text h3{
        font-size: 70px;
        line-height: 100px;
        width: 1200px;
        position: relative;
        right: 55px;
        text-align: center;
    }

    .services-text p{
        font-size: 70px;
        line-height: 100px;
        width: 1200px;
        position: relative;
        right: 55px;
        z-index:-1;
        text-align: center;
    }


    .review-text-top{
        position: relative;
        left: 250px;
        z-index:-1;
    }


    .review h6{
        font-size: 70px;
    }

    .review p{
        font-size: 70px;
        line-height: 100px;
    }

    .info h4{
        font-size: 80px;
    }

    .info p{
        font-size: 60px;
    }

    h2{
        font-size: 100px;
    }
    h4{
        font-size: 80px;
    }
    h5{
        font-size: 70px;
    }
    p{
        font-size: 70px;
    }

    .copyright p{
        display: none;
    }

    .gallery-text-top{
        position: relative;
        left: 250px;
        z-index:-1;
    }

    .gallery img{
        height: 800px;
        width: 1200px;
        margin: 10px;
        display: inline-block;
    }
    .review-container{
        width: 1600px;
        display: block;
        padding-top: 10px;
        margin: 0 auto;
    }

    .about-container{
        width: 1500px;
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 1000px;
        display: block;
        z-index:-1;

    }

    .banner-container{
        width: 1500px;
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 100px;
        margin: 20px;
        display: block;
        z-index:-1;
    }

    .gallery-container{
        width: 1500px;
        padding: 0;
        margin: 0;
    }

    .contact-container{
        width: 1500px;
        height: 1200px;
    }

    .star{
        font-size: 70px;
        
    }

  }
